<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843411894574-3ai58qojcri8orsto0bi420sntovbub6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843411894574-3ai58qojcri8orsto0bi420sntovbub6</string>
	<key>API_KEY</key>
	<string>AIzaSyDjPLs37DGoR14uRrJywmeYHtZmQio3c10</string>
	<key>GCM_SENDER_ID</key>
	<string>843411894574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.englishApp</string>
	<key>PROJECT_ID</key>
	<string>english-app-9c856</string>
	<key>STORAGE_BUCKET</key>
	<string>english-app-9c856.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843411894574:ios:e6932d802f80d84c718abf</string>
</dict>
</plist>